/*样式重置*/

/*
*{
	margin: 0;
	padding: 0;
}*/ 
body,h1,h2,h3,h4,h5,dd,dl,dt,ol,ul,p,form,th,td,input,select,textarea{
	margin: 0;
	padding: 0;
}
em{
	font-style: normal;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
	vertical-align: top;
}
input,textarea{
	outline: none;
}
table{
	border-collapse: collapse;
} /*去掉表格间隙*/
textarea{
	resize:none;
	overflow: auto;
}
body{
	font-size: 12px;
	font-family: "微软雅黑";
}

/*public css*/
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	zoom:1;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.gradient{
		background: -ms-linear-gradient(top,#fff,#f8f8f8);
		background: -moz-linear-gradient(top,#fff,#f8f8f8);
		background: -webkit-linear-gradient(top,#fff,#f8f8f8);
		background: linear-gradient(top,#fff,#f8f8f8);/*以后浏览器升级可以进行修改*/
		-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffffff,endcolorstr=#f8f8f8,gradientType=0)";
		+background:#f9f9f9;/*IE hack*/
	}
#search,.section,#footer,.login,.border_ad,.side_section{
	border: 1px solid #dbdbdb;
	border-radius: 6px;
}
#header, #nav, #search, #footer{
	width: 958px;
	margin: 0 auto 10px;
}
.main_wrap, .main_ad, .login, .border_ad, .side_ad, .side_section{
	margin-bottom: 10px;
}
/*layout css*/

#header{
	height: 36px;
	border-radius: 0 0 6px 6px;

}
#nav{
	height: 100px;
}
#search{
	height: 114px;
}
.content{
	width: 960px;
	margin:0 auto 10px;
}
.main{
	width: 710px;
}
.main_wrap{
	
}
.section{
	width:318px;
	height: 418px;
	padding: 0 15px;
	background: pink;
}
.option{
	width: 350px;
	height: 418px;
	position: relative;
}
.option .nav{
	position: relative;
	height: 34px;
	z-index: 2;
}
.option .nav li{
	width: 172px;
	height: 33px;
	float: left;
	border: 1px solid #dbdbdb;
	border-bottom: none;
	border-radius: 6px 6px 0 0;
}
.option .nav .active{
	width: 172px;
	height: 34px;
	background: #fff;

}
.con{
	width: 348px;
	height: 70px;
	border:1px solid #dbdbdb;
	border-radius: 0 0 6px 6px;
	position: absolute;
	top: 34px;
	left: 0;
	z-index: 1;
}
.main_ad{
	width: 710px;
	height: 90px;
	background: #9cdaf1;
}
.side{
	width: 240px;
	margin-left: 10px;
}
.login{
	width: 238px;
	height: 138px;
}
.border_ad{
	width: 238px;
	height: 88px;
	overflow: hidden;
}
.side_ad{
	width: 240px;
	height: 180px;
	border-radius: 6px;
	overflow: hidden;
}
.side_section{
	padding: 0 12px;
}
.side_section .main_title{
	height: 40px;
	line-height: 40px;
	position: relative;
}
.main_title>strong{
	font-size: 12px;
	color: #cc0d13;
	font-family:arial,verdana,microsoft yahei;
}
.main_title>span{
	font-size: 12px;
	color: #010000;
	font-family: 宋体;
}
.main_title>a{
	font-family: arial,verdana,microsoft yahei;
	color: #010000;
	font-size: 12px;
	float: right;
	display: inline-block;
	right: 0;
	position: absolute;
}
.main_title>a>img{
	vertical-align: middle;
}


#footer{
	height: 64px;
	text-align: center;
	line-height: 25px;
	padding-top: 14px;
	color: #454545;
}
#footer a{
	color: #454545;
	margin:0 6px;
}
#footer span{
	margin-left: 10px;
}