/*样式重置*/

/*
*{
	margin: 0;
	padding: 0;
}*/ 
body,h1,h2,h3,h4,h5,dd,dl,dt,ol,ul,p,form,th,td,input,select,textarea{
	margin: 0;
	padding: 0;
}
em{
	font-style: normal;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
	vertical-align: top;
}
input,textarea{
	outline: none;
}
table{
	border-collapse: collapse;
} /*去掉表格间隙*/
textarea{
	resize:none;
	overflow: auto;
}
body{
	font-size: 12px;
	font-family: "微软雅黑";
}

/*public css*/
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	zoom:1;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.gradient{
		background: -ms-linear-gradient(top,#fff,#f8f8f8);
		background: -moz-linear-gradient(top,#fff,#f8f8f8);
		background: -webkit-linear-gradient(top,#fff,#f8f8f8);
		background: linear-gradient(top,#fff,#f8f8f8);/*以后浏览器升级可以进行修改*/
		-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffffff,endcolorstr=#f8f8f8,gradientType=0)";
		+background:#f9f9f9;/*IE hack*/
	}
#search,.section,#footer,.login,.border_ad,.side_section{
	border: 1px solid #dbdbdb;
	border-radius: 6px;
}
#header, #nav, #search, #footer{
	width: 958px;
	margin: 0 auto 10px;
}
.main_wrap, .main_ad, .login, .border_ad, .side_ad, .side_section{
	margin-bottom: 10px;
}
/*layout css*/

#header{
	height: 30px;
	border-radius: 0 0 6px 6px;

}
#nav{
	height: 100px;
	position: relative;
}
#search{
	position: relative;
	height: 114px;
}
.content{
	width: 960px;
	margin:0 auto 10px;
}
.main{
	width: 710px;
}
.main_wrap{
	
}
.section{
	width:318px;
	height: 418px;
	padding: 0 15px;
	background: pink;
}
.option{
	width: 350px;
	height: 418px;
	position: relative;
}
.option .nav{
	position: relative;
	height: 34px;
	z-index: 2;
}
.option .nav li{
	width: 172px;
	height: 33px;
	float: left;
	border: 1px solid #dbdbdb;
	border-bottom: none;
	border-radius: 6px 6px 0 0;
}
.option .nav .active{
	width: 172px;
	height: 34px;
	background: #fff;

}
.con{
	width: 348px;
	height: 70px;
	border:1px solid #dbdbdb;
	border-radius: 0 0 6px 6px;
	position: absolute;
	top: 34px;
	left: 0;
	z-index: 1;
}
.main_ad{
	width: 710px;
	height: 90px;
	background: #9cdaf1;
}
.side{
	width: 240px;
	margin-left: 10px;
}
.login{
	width: 238px;
	height: 138px;
}
.border_ad{
	width: 238px;
	height: 88px;
	overflow: hidden;
}
.side_ad{
	width: 240px;
	height: 180px;
	border-radius: 6px;
	overflow: hidden;
}
.side_section{
	padding: 0 12px;
}
.side_section .main_title{
	height: 40px;
	line-height: 40px;
	position: relative;
}
.login h2{
	text-indent: 12px;
    color: #000;
    font-size: 12px;
    line-height: 34px;
    border-bottom: 1px solid #dbdbdb;
}
.login h2 em{
	color: #cc0d13;
}
.main_title>strong{
	font-size: 12px;
	color: #cc0d13;
	font-family:arial,verdana,microsoft yahei;
}
.main_title>span{
	font-size: 12px;
	color: #010000;
	font-family: 宋体;
}
.main_title>a{
	font-family: arial,verdana,microsoft yahei;
	color: #010000;
	font-size: 12px;
	float: right;
	display: inline-block;
	right: 0;
	position: absolute;
}
.main_title>a>img{
	vertical-align: middle;
}


#footer{
	height: 64px;
	text-align: center;
	line-height: 25px;
	padding-top: 14px;
	color: #454545;
}
#footer a{
	color: #454545;
	margin:0 6px;
}
#footer span{
	margin-left: 10px;
}

/*header内容*/
.city{
	line-height: 20px;
	color: #666;
	padding-left: 20px;
	padding-top: 5px;
}
.city a{
	width: 38px;
	height: 18px;
	display: inline-block;
	border:1px solid #e5e5e5;
	text-align: center;
	color: #999999;
	border-radius:3px;
	box-shadow: 1px 1px 0 0 #ececec;
}
.city a:hover{
	background: #f1f1f1;
}
.city .active{
	color: #d60d03;
}
.link{
	line-height: 30px;
	color: #d5d5d5;
	padding-right: 20px;
	word-spacing: 4px;
}
.link a{
	color: #666666;
	background: url(../img/header_link_bg.gif) no-repeat 0 3px;
	padding-left:20px;
}
.link .ico1{
	background-position: 0px 3px;
}
.link .ico2{
	background-position: 0px -27px;
}
.link a:hover{
	text-decoration: underline;
}

/*nav*/
#nav ul{
	position: absolute;
	top: 10px;
}
.nav_1{
	left: 11px;
}
#nav li{
	float: left;
	
}
#nav li a{
	width: 66px;
	display: inline-block;
	padding-top: 50px;
	text-align: center;
	color: #333333;
	background: url("../img/nav_bg.png") no-repeat;
}
#nav a:hover{
	color: #d91002;
	font-weight: bold;
}
#nav h1{
	width: 223px;
	height: 62px;
	margin: 0 auto;
	position: relative;
	top: 10px;
}
.nav_2{
	right: 11px;
}
#nav .bg1{ background-position: 0 0;}
#nav .bg2{ background-position: -66px 0;}
#nav .bg3{ background-position: -132px 0; }
#nav .bg4{ background-position: -198px 0; }
#nav .bg5{ background-position: -264px 0; }
#nav .bg6{ background-position: -330px 0; }
#nav .bg7{ background-position: -394px 0; }
#nav .bg8{ background-position:  -460px 0; }
#nav .bg9{ background-position:  -526px 0;}
#nav .bg10{ background-position: -592px 0;}
#nav .bg1:hover{ background-position: 0 -70px;}
#nav .bg2:hover{ background-position: -66px -70px;}
#nav .bg3:hover{ background-position: -132px -70px; }
#nav .bg4:hover{ background-position: -198px -70px; }
#nav .bg5:hover{ background-position: -264px -70px; }
#nav .bg6:hover{ background-position: -330px -70px; }
#nav .bg7:hover{ background-position: -394px -70px; }
#nav .bg8:hover{ background-position:  -460px -70px; }
#nav .bg9:hover{ background-position:  -526px -70px;}
#nav .bg10:hover{ background-position: -592px -70px;}

/*search*/
#search .bar{
	width: 958px;
	height: 64px;
	borer:1px solid #e21c01;
	border-radius: 5px;
	box-shadow: 1px 1px 0 0 #ececec;
	background: #e21c01;
	position: absolute;
	top: 16px;
	left: -1px;
	z-index: 1;
}
#search .menu{
	position: absolute;
	top: -27px;
	left: 226px;
}
#search .menu li{
	float: left;
	width: 78px;
	height: 25px;
	display: inline-block;
	cursor: pointer;
	line-height: 25px;
	text-align: center;
	margin-right: 1px;
	border-bottom: none;
	border:1px solid #fbe3d9;
	font-size: 14px;
}
#search .menu .active{
	height: 27px;
	background:#e21c01;
	border: 1px solid #e21c01;
	color: #fff;
	position: relative;
	font-weight: bold;
	top: -1px;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.25);
	border-radius: 5px 5px 0 0;
}
#search .img{
	position: absolute;
	background: url("../img/search_img.png") no-repeat;
	width: 163px;
	height: 122px;
	top: -3px;
	left: 30px;
	z-index: 2;
}
#search .form{
	position: absolute;
	left: 226px;
	top: 34px;
	z-index: 3;
}
#search .form .text{
	width: 380px;
	height: 22px;
	line-height: 22px;
	padding:0 12px;
	border:1px solid #d49f98;
	color: #ea7a7a;
	font-family: "微软雅黑";
	border-radius: 3px;
	background: #fff;
	box-shadow: inset 2px 2px 2px 2px rgba(0,0,0,0.25);
	float: left;
	margin-right: 10px;
}
#search .form .btn{
	width: 63px;
	height: 26px;
	border:none;
	background: url("../img/search_img.png") no-repeat -163px 0;
	float: left;
}
#search .keyword{
	width: 206px;
	float: right;
	color: #ffffff;
	position: absolute;
	top: 30px;
	right: 36px;
	z-index: 3;
	line-height: 18px;
}
#search .keyword a{
	color: #fff;
}


/*section */
.section .video_title{
	height: 42px;
	color: #d90000;
	font-family: arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 42px;
	background: url("../img/vedio_bg.gif") no-repeat 105px 10px;
	position: relative;
}